:root {
  --accent: #eb6e4b;
  --accent-bg: #eb6e4b2f;
  --black: #2D3142;
  --white: #e5e5e5;
  --green: #1B998B;
  --gray: #d9d9d9;
  --dark-gray: #a4a4a4;
  --shadow: 1px 1px 4px 0px gray;
  --card-width: 335px;
  --card-height: 200px;
}

/* Keyframes */
@keyframes to-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
  height: 120px;
  background-color: var(--black);
  z-index: 500;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* TOGGLE Buttons */
.toggle-icon {
  font-size: 20px;
  color: var(--white);
}

label {
  font-size: 14px;
  color: #424242;
  font-weight: bold;
}

.btn-mode-switch{
  display: inline-block;
  position: relative;
  margin: 0px;
}

.btn-mode-switch > label.btn-mode-switch-inner{
  display: block;
  position: relative;
  margin: 0px;
  width: 140px;
  height: 29px;
  background: var(--gray);
  border-radius: 26px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.btn-mode-switch > label.btn-mode-switch-inner:before{
  content: attr(data-on);
  position: absolute;
  font-size: 13px;
  top: 5px;
  right: 12px;
}

.btn-mode-switch > label.btn-mode-switch-inner:after{
  content: attr(data-off);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 70px;
  height: 25px;
  background: var(--accent);
  color: var(--white);
  border-radius: 26px;
  transition: all .2s ease-out;
  box-shadow: 0px 0px 4px 0px #111;

}

.btn-mode-switch input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-mode-switch input[type="checkbox"]:focus {
  user-select: none;
  -webkit-user-select: none;
}

.btn-mode-switch input[type="checkbox"]:checked + label.btn-mode-switch-inner:after{
  content: attr(data-on);
  left: 68px;
  user-select: none;
  -webkit-user-select: none;
}

.btn-mode-switch input[type="checkbox"]:checked + label.btn-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
  user-select: none;
  -webkit-user-select: none;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 20px;
  -webkit-tap-highlight-color: transparent;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  background-color: var(--accent);
}

.logo {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--white);
  animation: fade-in 4s backwards ease-in-out;
  user-select: none;
}

.logo a {
  height: 100%;
}

.logo--text {
  position: absolute;
  font-size: 12px;
  margin: 3px 10px;
  color: rgba(255, 255, 255, 0.65);
}

.logo--picture {
  height: 100%;
}

/* Search */
.search {
  display: flex;
  align-self: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  position: relative;
  position: sticky;
  max-width: 1050px;
}

.search span {
  user-select: none;
}

.search--bar,
.search--btn {
  border: none;
}

.search--bar {
  height: 50px;
  min-width: 150px;
  flex: 1;
  padding: 15px 25px 0;
  outline: none;
  border-radius: 25px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--gray);
  color: var(--black);
  animation: fade-in 1.5s ease-in-out backwards;
  transition: all .4s;
  caret-color: var(--accent);
}

.search--bar::selection {
  background: var(--accent);
}

.search--bar:hover {
  background-color: var(--accent-bg);
}

.search--bar:focus {
  background-color: var(--accent-bg);
}

.search span {
  position: absolute;
  left: 15px;
  padding: 10px 20px;
  margin: 0px 0;
  pointer-events: none;
  transition: transform 0.2s, font-size 0.2s;
  color: var(--dark-gray);
}

.search input:focus ~ span,
.search input:valid ~ span {
  color: var(--accent);
  font-size: 14px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.45);
  transform: translateY(-8px);
}

.search--btn {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  outline: none;
  border-radius: 50%;
  font-size: 20px;
  color: var(--black);
  background-color: var(--gray);
  cursor: pointer;
  animation: fade-in 1.5s ease-in-out backwards;
  animation-delay: .5s;
  transition: all .4s;
}

.search--btn:hover,
.search--btn:focus {
  color: var(--accent);
  background-color: var(--accent-bg);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  align-self: center;
  width: 100%;
  max-width: 1050px;
  overflow-y: auto;
}

/* Card */
.cards-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
  grid-template-rows: repeat(auto-fit, var(--card-height));
  grid-template-columns: repeat(auto-fit, var(--card-width));
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "city city"
    "temp temp"
    "feels feels"
    "weath weath"
    "max humidity"
    "min wind";
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: var(--shadow);
  background-color: #2D3142;
  color: var(--white);
  animation: fade-in .8s backwards ease-in-out;
}

.city-name {
  grid-area: city;
  font-weight: bold;
  font-size: 19px;
}

.temperature {
  grid-area: temp;
  font-weight: bold;
  font-size: 32px;
}

.feels-like {
  grid-area: feels;
  font-size: 14px;
}

.weather-description {
  grid-area: weath;
  font-weight: bold;
  font-size: 20px;
}

.icon {
  position: absolute;
  left: 65px;
  top: 35px;
  width: 52px;
  background-color: var(--green);
  border-radius: 50%;
  user-select: none;
}

.min {
  grid-area: min;
}

.max {
  grid-area: max;
}

.humidity {
  grid-area: humidity;
}

.wind {
  grid-area: wind;
}

.min,
.max {
  text-align: left;
  padding-right: 5px;
  margin-left: 93px;
}

.humidity,
.wind {
  text-align: left;
  padding-left: 5px;
}

.min,
.max,
.humidity,
.wind {
  /* padding: 0px 15px; */
}

.fa-temperature-arrow-up,
.fa-temperature-arrow-down,
.fa-droplet,
.fa-wind {
  font-size: 20px;
}

.fa-droplet {
  background-image: linear-gradient(#91EAE4, #86A8E7, #7F7FD5);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.fa-wind {
  background-image: linear-gradient(to right, #43C6AC, #F8FFAE);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.fa-temperature-arrow-up {
  background-image: linear-gradient(#ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.fa-temperature-arrow-down {
  background-image: linear-gradient(#a1c4fd 0%, #c2e9fb 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.timestamp {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--accent);
  padding: 1px 6px;
  border-radius: 0px 15px 0px 15px;
  transform: translateX(-10px);
  text-align: center;
  width: 80px;
}

.close-btn,
.refresh-btn,
.favorite-btn {
  font-size: 20px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all .4s;
}

.close-btn:hover {
  color: var(--accent);
}

.refresh-btn {
  position: absolute;
  bottom: 10px;
  right: 11px;
  transition: all .4s;
}

.refresh-btn:hover {
  transform: rotateZ(360deg);
  color: var(--accent)
}

.favorite-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.github-link {
  display: flex;
  align-items: center;
  width: 200px;
  color: var(--white);
  height: fit-content;
  padding: 15px;
}

.credits,
.JV,
.fa-github {
  transition: all .4s;
}

.fa-github {
  font-size: 3rem;
  padding-right: 20px;
  animation: to-right .9s backwards ease-in-out;
}

.credits {
  font-size: 13px;
  text-align: center;
  animation: to-left 0.8s backwards ease;
  animation-delay: 0.2s;
}

.JV {
  display: block;
  font-size: 18px;
  font-weight: bold;
  animation: to-left .8s backwards ease-out;
  animation-delay: 0.3s;
}

.github-link:hover .JV {
  color: var(--accent);
}

.github-link:hover .fa-github {
  color: var(--accent);
}

/* Responsiveness */
@media (max-height: 568px) {
  .nav-item {
    padding: 15px;
  }
}

@media (max-width: 1080px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
    align-items: center;
  }

  .nav-item {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .nav-menu.active {
    left: 0;
  }
}