:root {
  --accent: #eb6e4b;
  --black: #131515;
  --gray: #D9D9D9;
  --dark-gray: #A4A4A4;
  --white: #F5F5F5;
  --shadow: 1px 1px 5px 0px gray;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}

.header,
.footer {
  height: 120px;
  background-color: var(--black);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-item {
  padding: 40px;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all .4s ease-in-out;
  background-color: #fff;
}

@media(max-width:768px){
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .95);
    width: 100%;
    text-align: center;
    transition: all .4s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}

.logo a {
  height: 100%;
}

.logo--text {
  position: absolute;
  font-size: 12px;
  margin: 3px 10px;
}

.logo--picture {
  height: 100%;
}

/* MAIN */
.main {
  display: flex;
  flex: 1;
  align-self: center;
  width: 100%;
  max-width: 1050px;
}

.search {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  position: sticky;
}

.search--bar {
  height: 50px;
  min-width: 150px;
  flex: 1;
  padding: 20px;
  border: none; outline: none;
  border-radius: 25px;
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--gray);
}

.search span {
  position: absolute;
  left: 10px;
  padding: 10px 20px; margin: 0px 0;
  pointer-events: none;
  transition: .4s;
  color: var(--dark-gray);
}

.search input:focus ~ span,
.search input:valid ~ span {
  color: var(--accent);
  font-size: 14px;
  text-shadow: 0 0 2px rgba(0, 0, 0, .2);
  transform: translateY(-12px);
}

.search--btn {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  border: none; outline: none;
  border-radius: 50%;
  font-size: 20px;
  color: var(--black);
  background-color: var(--gray);
  cursor: pointer;
  transition: color .4s;
}

.search--btn:hover,
.search--btn:focus {
  color: var(--accent);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.github-link {
  display: flex;
  align-items: center;
  color: white;
  height: fit-content;
  padding: 15px;
}

.fa-github {
  font-size: 4rem;
  padding-right: 20px;
}

.credits {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.JV {
  display: block;
  font-size: 20px;
  font-weight: normal;
}
